html, body {
    margin: 0;
    width: 100%;
}
.navmenu {
    width: 150px;
    margin-left: 50px; 
    margin-top: 50px;
}
.navmenu li {
    margin-top: 20px;
}
table .test{
    top: 0;
    background: #33cc33;
}